.entity{
	width:350px;
}

#persons{
	margin-top:10px;
	margin-bottom:10px;
}

marquee {
	font-size: 2em;
}

#persons table td, table th {
	text-align: left;
	width: 500px;
	border: 1px solid black;
}

#persons table th{
	background-color: lightGrey;
}

#persons table{
	border-spacing: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.entity input{
	width: 100px;
	margin-bottom: 10px;
	margin-left: 5px;
}